#header-nav {
  background-color: #8c8c8c;
  border-radius: 0;
  border: 1px solid #0d0d0d;
}

#navbar-brand-title, .navbar-collapse {
  color: #0d0d0d;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 1px solid #0d0d0d;
}

.menu-item {
  background-color: #8c8c8c;
  margin-top: 20px;
  padding: 10px;
  overflow: hidden;
  padding: 10px;
  margin: 40px 20px 40px 20px;
  color: #0d0d0d;
}

.separator {
  margin: 0;
  padding: 0;
  border-color: inherit;
}

#nav-list {
  padding: 0;
  margin: 0;
}

#nav-list {
  margin: 0;
  padding: 0;
}

#nav-list a {
  color: #0d0d0d;
  text-align: center;
}

#nav-list li a:hover {
  background: #E7E7E7;
}

@media (max-width: 768px) {
  .navbar-collapse {
    background-color: white;
  }

  #bs-example-navbar-collapse-1 {
    border: 1px solid #0d0d0d;
    color: #0d0d0d;
  }
}
